#{extends 'main.html' /}
#{set title:'Chart' /}

<h1>${dbs}</h1>
<h1>${collections}</h1>
<h1>${fields}</h1>
<h1>${boxes}</h1>
<canvas id="canvas"></canvas>
<script>

    $(function(){
        $.get("/getData", {"dbs": '${dbs}', "collections": '${collections}',
            "fields": '${fields}', "boxes": '${boxes}' },
                function(data) {
                    var barData = {
                        datasets : [ ]
                    };
                    barData.labels = data[0];
                    //barData.datasets[0].data = data[1];
                    barData.datasets.push({
                        fillColor : "rgba(200,100,200,0.5)",
                        strokeColor : "rgba(180,180,180,1)",
                        data: data[1]
                    });
                    draw(barData);
                })
    });

    function draw(barData) {
        new Chart(document.getElementById("canvas").getContext("2d")).Bar(barData,
                {
                    scaleShowLabels: true,
                    pointLabelFontSize: 18,
                    scaleFontSize: 18
                });
    }
</script>