#{extends 'main.html' /}
#{set title:'Home' /}
<div id="container" xmlns="http://www.w3.org/1999/html">
    <div id="header">
        <h1>mini<strong>DEMO</strong></h1>
        <h2>Show example statistic for my project</h2>
    </div>
    <div id="sidebar">
        <h1>Mini FAQ</h1>
        <p> Choose db, collection and fields</p>
        <p> When you choose some field, also you can specify additional parameter
            from others fields.
        </p>
    </div>
    <div id="content">
        <h1>Graphs</h1>
        <form method="post">
            <p> This is where you can choose dataBase, collections, fields and categories.</p>
            <h2>Databases:
            <select name="dbs" id="dbs">
                #{list items: dbs, as:'i'}<option value="${i}">${i}</option>#{/list}
            </select></h2>
            <h2>Collections:
            <select name="collections" id="collections"></select></h2>
            <h2>Fields:
            <select name="fields" id="fields"></select></h2>
            <span id="boxes">
            </span>
            <input type="hidden" name="boxes" id="boxes_hidden"/>
            <input type="hidden" name="boxes_checked" id="boxes_checked_hidden"/>
            <h4><lable class="reset">Reset all choices</lable></h4>
            <h2><lable class="getChart">Get chart</lable></h2>
            <div class="chart"></div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var skip = [];
    var checked_boxes = [];
    function getRecordsFunc(db, col, field, i, skip_, limit) {
        $.get("/getRecords", {"db": db, "collection": col, "field": field,
            "skip": skip_, "limit": limit }, function (data) {
            if (data.length != 0) {
                $("#boxes").find(".box" + i).remove();
                $("#boxes").find(".box-label" + i).remove();
                $(data.reverse()).each(function (index, element) {
                    var checkboxTemplate = "<input type='checkbox' x-id='" + field + "' class='box"+ i+" box' id='checkbox-" + element + "'/>";
                    var labelTemplate = "<label class='box-label"+ i+" box' for='checkbox-" + element + "'>" + element + "</label>";
                    $(labelTemplate).insertAfter(".label-"+ field);
                    $(checkboxTemplate).insertAfter(".label-"+ field);
                    if ($.inArray('checkbox-' + element, checked_boxes) != -1) {
                        $('#checkbox-' + element).prop("checked", true);
                    }
                });
                skip[i]=skip_;
            }
        });
    }
    $(function() {
        var checked_boxes_value = [];
        var limit = 6;
        $.ajaxSetup({async: false});
        $("#dbs").change(function() {
            var value = $(this).val();
            $.get("/collections", {"db": value}, function(data) {
                $("#collections").find("option").remove();
                $("#fields").find("option").remove();
                $("#boxes").find("input").remove();
                $("#boxes").find("label").remove();
                $(data).each(function(index, element) {
                    var dbMember = "<option value='" + element +"'>" + element + "</option>";
                    $("#collections").append(dbMember);
                })
                $("#collections").change();
            });
        });

        $("#collections").change(function() {
            var db = $("#dbs").val();
            var col = $(this).val();
            if (col != null) {
                var tmp_fields = []
                $.get("/fields", {"db": db, "collection": col}, function(data) {
                    $("#fields").find("option").remove();
                    $(data).each(function(index,element) {
                        var colMember = "<option value='" + element +"'>" + element + "</option>";
                        $("#fields").append(colMember);
                        tmp_fields.push(element);
                        skip.push(0);
                    })
                });
                $("#boxes").find("input").remove();
                $("#boxes").find("label").remove();
                $.each(tmp_fields, function(index_field, value) {
                    var field = value;
                    var fieldNameTemplate = "<label class='label-"+ field + "'>" + field + ":</label>"
                    $("#boxes").append(fieldNameTemplate);
                    $.get("/getRecords", {"db": db, "collection": col, "field": field,
                        "skip": skip, "limit": limit }, function (data) {
                        $(data).each(function (index, element) {
                            var checkboxTemplate = "<input type='checkbox' x-id='" + field + "' class='box"+ index_field+" box' id='checkbox-" + element + "'/>";
                            var labelTemplate = "<label class='box-label"+ index_field+" box' for='checkbox-" + element + "'>" + element + "</label>";
                            $("#boxes").append(checkboxTemplate, labelTemplate);
                        })
                    });
                    var prevValueTemplate = "<br><label class='prev' x-id='" + field + "' x-number="+ index_field +">Previous</label> "
                    var nextValueTemplate = "<label class='next' x-id='" + field + "' x-number="+ index_field +">Next</label><br>"
                    $("#boxes").append(prevValueTemplate, nextValueTemplate);
                });
            }
        });

        $(".box").live("change", function(){
            var checked = $(this).prop('checked');
            var _value = $(this).attr("x-id") + ":" + $(this).next("label").text();
            var id_box = $(this).attr("id");
            if (checked) {
                checked_boxes_value.push(_value);
                checked_boxes.push(id_box);
            } else {
                checked_boxes_value.splice( $.inArray(_value, checked_boxes_value), 1 );
                checked_boxes.splice( $.inArray(id_box, checked_boxes), 1 );
            }
            $("#boxes_hidden").val(checked_boxes_value);
            $("#boxes_checked_hidden").val(checked_boxes);
        }).change();

        $(".next").live("click", function() {
            var i = parseInt($(this).attr("x-number"));
            getRecordsFunc($("#dbs").val(), $("#collections").val(),
                    $(this).attr("x-id"), i, skip[i] + limit, limit);
        });

        $(".prev").live("click", function() {
            var i = parseInt($(this).attr("x-number"));
            if (skip[i] != 0) {
                getRecordsFunc($("#dbs").val(), $("#collections").val(),
                        $(this).attr("x-id"), i, skip[i] - limit, limit);
            }
        });

        $("#dbs").change();
    });
    $(".getChart").live("click", function createChart() {
        $(".chart").find("canvas").remove();
        $(".chart").append('<canvas id="canvas"></canvas>');
        $.get("/getData", {"dbs": $("#dbs").val(), "collections": $("#collections").val(),
                    "fields": $("#fields").val(), "boxes": $("#boxes_hidden").val() },
                function(data) {
                    var barData = {
                        datasets : [ ]
                    };
                    barData.labels = data[0];
                    //barData.datasets[0].data = data[1];
                    barData.datasets.push({
                        fillColor : "rgba(200,100,200,0.5)",
                        strokeColor : "rgba(180,180,180,1)",
                        data: data[1]
                    });
                    draw(barData);
                });
        });
    function draw(barData) {
        new Chart(document.getElementById("canvas").getContext("2d")).Bar(barData,
                {
                    scaleShowLabels: true,
                    pointLabelFontSize: 18,
                    scaleFontSize: 18
                });
    }
    $(".reset").live("click", function reset() {
        $.each(checked_boxes, function(index, value) {
           // console.log(value);
            $("#" + value).prop("checked", false);
            checked_boxes = [];
            $("#boxes_hidden").val("");
            $("#boxes_checked_hidden").val(checked_boxes);
        });
    })

</script>
