#{extends 'main.html' /}
#{set title:'Home' /}
<div id="container" xmlns="http://www.w3.org/1999/html">
    <div id="header">
        <h1>mini<strong>DEMO</strong></h1>
        <h2>Show example statistic for my project</h2>
    </div>
    <div id="sidebar">
        <h1>Mini FAQ</h1>
        <p> Choose db, collection and fields</p>
        <p> When you choose some field, also you can specify additional parameter
            from others fields.
        </p>
    </div>
    <div id="content">
        <h1>Graphs</h1>
        <form method="post" action="/chart">
            <p> This is where you can choose dataBase, collections, fields and categories.</p>
            <h2>Databases:
            <select name="dbs" id="dbs">
                #{list items: dbs, as:'i'}<option value="${i}">${i}</option>#{/list}
            </select></h2>
            <h2>Collections:
            <select name="collections" id="collections"></select></h2>
            <h2>Fields:
            <select name="fields" id="fields"></select></h2>
            <span id="boxes">
            </span>
            <input type="hidden" name="boxes" id="boxes_hidden"/>
            <h2><input type="submit" value="Create chart"></h2>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        var checked_boxes = [];
        var limit = 10;
        var skip = 0;
        $.ajaxSetup({async: false});
        $("#dbs").change(function() {
            var value = $(this).val();

            $.get("/collections", {"db": value}, function(data) {
                $("#collections").find("option").remove();
                $(data).each(function(index, element) {
                    var dbMember = "<option value='" + element +"'>" + element + "</option>";
                    $("#collections").append(dbMember);
                })
            });
        });

        $("#collections").change(function() {
            var db = $("#dbs").val();
            var col = $(this).val();
            $.get("/fields", {"db": db, "collection": col}, function(data) {
                $("#fields").find("option").remove();
                $(data).each(function(index,element) {
                    var colMember = "<option value='" + element +"'>" + element + " </option>";
                    $("#fields").append(colMember);
                })

            });
            skip = 0;
            var field = $("#fields").val();
            $.get("/getRecords", {"db": db, "collection": col, "field": field,
                "skip": skip, "limit": limit }, function(data) {
                $("#boxes").find("input").remove();
                $("#boxes").find("label").remove();
                $(data).each(function(index,element) {
                    var checkboxTemplate = "<input type='checkbox' class='box' id='checkbox-" + element + "'/>";
                    var labelTemplate = "<label for='checkbox-" + element + "'>" + element + "</label>";
                    $("#boxes").append(checkboxTemplate);
                    $("#boxes").append(labelTemplate);
                    skip+=limit;
                })
            });
        });

        $(".box").change(function(){
            var checked = $(this).prop('checked');
            var _value = $(this).next("label").text();
            if (checked) {
                checked_boxes.push(_value);
            } else {
                checked_boxes.splice( $.inArray(_value, checked_boxes), 1 );
            }
            console.log(checked_boxes);
            $("#boxes_hidden").val(checked_boxes);
        }).change();

        $("#dbs").change();
        $("#collections").change();
        $(".box").change();
    })

</script>