#{extends 'main.html' /}
#{set title:'Home' /}
<div id="container">
    <div id="header">
        <h1>mini<strong>DEMO</strong></h1>
        <h2>Show example statistic for my project</h2>
    </div>
    <div id="sidebar">
        <h1>Choose fields</h1>
        <p> This is where you can choose dataBase, collections, fields and categories</p>
    </div>
    <div id="content">
        <h1>Introduction</h1>
        <h2>Take statistic for your needs!</h2>
        <p> This is very simple demo for my project, which will create simple graphs for data from MongoDB. </p>
        <p> If you want and known how you can upgrade this web site - welcome! My knowledge about web-programming is not so big. </p>
        <div class="article_menu"> <b>Posted on 16 May 2014</b> <a href="http://github.com/degorenko/my-web/">Source on GitHub</a> </div>

        <h1>Graphs</h1>
        <h2>Choose fields and take graph</h2>
        <form method="post" action="/chart">
            <h1>Choose fields</h1>
            <p> This is where you can choose dataBase, collections, fields and categories</p>
            <h1>Databases:</h1>
            <select name="dbs" id="dbs">
                #{list items: dbs, as:'i'}<option value="${i}">${i}</option>#{/list}
            </select>
            <h1>Collections:</h1>
            <select name="collections" id="collections"></select>
            <h1>Fields:</h1>
            <select name="fields" id="fields"></select>
            <h1><input type="submit" value="Create chart"></h1>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $.ajaxSetup({async: false});
        $("#dbs").change(function() {
            var value = $(this).val();

            $.get("/collections", {"dbname": value}, function(data) {
                $("#collections").find("option").remove();
                $(data).each(function(index, element) {
                    var htmlTemplate = "<option value='" + element +"'>" + element + "</option>";
                    $("#collections").append(htmlTemplate);
                })
            });
        })

        $("#collections").change(function() {
            var db = $("#dbs").val();
            var col = $(this).val();
            $.get("/fields", {"dbname": db, "collectionname": col}, function(data) {
                $("#fields").find("option").remove();
                $(data).each(function(index,element) {
                    var htmlTemplate2 = "<option value='" + element +"'>" + element + " </option>";
                    $("#fields").append(htmlTemplate2);
                })

            });
        })
        $("#dbs").change();
        $("#collections").change();
    })

</script>